<%- include("./layout/header.ejs") %>
    <div id="loader" class="w-full bg-[#000] h-screen flex justify-center items-center">
      <svg width="179" height="202" viewBox="0 0 179 202" class="thin" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="Frame 1000004127" class="Temi">
        <g id="Group">
        <path id="Vector" d="M64.2793 77.65C64.0609 77.4625 63.6963 77.3572 63.18 77.3411C62.7973 77.3214 62.2901 77.2911 61.6529 77.2536C61.0138 77.2161 60.3098 77.1786 59.5408 77.1411C58.77 77.1036 57.9505 77.0714 57.0858 77.0429C56.2176 77.0143 55.3674 77 54.5316 77C53.6344 77 52.5604 77.0464 51.3058 77.1411C50.0476 77.2357 48.7371 77.3964 47.3652 77.6215C45.9933 77.8465 44.6304 78.1572 43.2675 78.5537C41.9082 78.9483 40.688 79.4483 39.6139 80.0502C38.5362 80.6538 37.6661 81.3734 37.0019 82.2092C36.3358 83.0467 36 84.0236 36 85.1343C36 85.8308 36.1336 86.4362 36.4007 86.9559C36.6661 87.4737 37.0145 87.9023 37.4423 88.2416C37.8719 88.5792 38.3647 88.8327 38.9279 89.0024C39.4875 89.1738 40.0543 89.2578 40.6266 89.2578C41.6158 89.2578 42.5617 89.0881 43.4661 88.7488C44.3704 88.4113 45.1647 87.9577 45.8507 87.3952C46.5366 86.8291 47.0818 86.1755 47.4915 85.4308C47.9013 84.6861 48.1053 83.9093 48.1053 83.1003C48.1053 82.8378 48.0999 82.5789 48.0908 82.3235C48.0818 82.0699 48.0475 81.811 47.9915 81.5467L47.6756 81.5752C47.7334 81.9913 47.7605 82.4056 47.7605 82.8199C47.7605 83.6861 47.5475 84.4486 47.1197 85.1076C46.69 85.7665 46.1377 86.3076 45.4644 86.7309C44.7874 87.1541 44.0455 87.4755 43.2368 87.6916C42.4281 87.9077 41.6429 88.0148 40.8811 88.0148C40.3684 88.0148 39.8449 87.9488 39.3124 87.8184C38.7781 87.6863 38.2925 87.4952 37.8557 87.238C37.417 86.9844 37.056 86.6612 36.769 86.2648C36.4838 85.8701 36.3412 85.4165 36.3412 84.9111C36.3412 84.1396 36.5596 83.4557 36.9982 82.8628C37.4351 82.2717 38.0398 81.752 38.8106 81.3091C39.5814 80.8681 40.4767 80.4895 41.493 80.1805C42.5111 79.868 43.5996 79.6251 44.7622 79.4466C45.9229 79.268 47.1233 79.134 48.358 79.0501C49.5945 78.968 50.804 78.9233 51.9827 78.9233C52.4412 78.9233 52.934 78.9287 53.4683 78.9376C54.0027 78.9501 54.5189 78.9626 55.0244 78.9805C55.5298 78.9983 55.9955 79.0251 56.4234 79.0501C56.853 79.0787 57.2086 79.1126 57.4938 79.1501V79.2073C56.2771 79.5644 55.2284 79.9841 54.3529 80.4627C53.4774 80.9431 52.6921 81.5145 51.999 82.1717C51.3022 82.8307 50.6559 83.5986 50.0566 84.4736C49.4555 85.3486 48.8255 86.3612 48.1594 87.5113C47.5691 88.5274 46.9572 89.5899 46.3182 90.7007C45.6792 91.8133 44.9752 92.824 44.2044 93.7384C43.4336 94.6509 42.5725 95.4045 41.6212 95.9992C41.1826 96.2742 40.715 96.4831 40.215 96.6278L40.1266 97.0975C40.7511 97.0082 41.3432 96.8742 41.9082 96.6921C43.0112 96.3331 44.0347 95.8206 44.9752 95.1527C45.9174 94.483 46.7929 93.6741 47.6016 92.724C48.4103 91.774 49.1775 90.6953 49.9014 89.4899C50.6054 88.3238 51.2877 87.1362 51.9448 85.9326C52.6001 84.7254 53.2752 83.6343 53.9702 82.6556C54.6652 81.677 55.3962 80.877 56.1688 80.2537C56.9396 79.6323 57.7899 79.3215 58.7231 79.3215C59.2159 79.3215 59.7647 79.3412 60.3658 79.3787C60.9633 79.4162 61.6258 79.4358 62.3496 79.4358C63.1295 79.4358 63.7017 79.3323 64.0627 79.1269C64.4237 78.918 64.6061 78.6644 64.6061 78.3644C64.6061 78.0804 64.4941 77.8465 64.2757 77.6572L64.2793 77.65Z" stroke="#9546E8"/>
        <path id="Vector_2" d="M68.4041 89.3435C67.8896 90.0025 67.2903 90.7132 66.6062 91.4757C65.9238 92.2329 65.2144 92.9597 64.4779 93.6526C64.4725 93.6562 64.4689 93.6616 64.4653 93.6651C63.4941 94.5688 62.5284 95.2563 61.568 95.7277C60.6059 96.1992 59.7268 96.4331 58.9271 96.4331C58.1274 96.4331 57.4704 96.1796 57.0137 95.6706C56.557 95.1616 56.3277 94.5027 56.3277 93.6937C56.3277 93.3937 56.3746 93.0544 56.4703 92.6776C56.8133 92.6026 57.2501 92.5079 57.7844 92.3954C58.317 92.2829 58.8874 92.1401 59.4975 91.9722C60.1059 91.8025 60.7196 91.6043 61.3388 91.3793C61.9579 91.1543 62.5139 90.89 63.0103 90.5882C63.5049 90.2864 63.9093 89.9489 64.2234 89.5703C64.5375 89.1953 64.6945 88.7792 64.6945 88.3274C64.6945 87.7631 64.4671 87.3255 64.0086 87.0148C63.5519 86.7041 62.9147 86.5487 62.0951 86.5487C61.2016 86.5487 60.2539 86.7666 59.2538 87.1987C58.2538 87.6327 57.3368 88.197 56.4992 88.8935C55.6616 89.5899 54.9666 90.381 54.4143 91.265C53.8619 92.1508 53.5857 93.0455 53.5857 93.9491C53.5857 94.967 53.8998 95.7956 54.528 96.4349C55.1562 97.0742 56.0136 97.3957 57.0985 97.3957C58.1834 97.3957 59.3026 97.1742 60.5102 96.7314C61.5644 96.3456 62.6583 95.6831 63.7938 94.7438C63.9598 94.6063 64.1259 94.4634 64.2938 94.3152C65.2252 93.4687 66.0303 92.6579 66.7055 91.8865C67.3806 91.115 68.0142 90.3346 68.6045 89.5435L68.4041 89.3453V89.3435ZM57.2555 90.7418C57.6274 90.1114 58.0552 89.5096 58.5408 88.9345C59.0264 88.3613 59.5445 87.8756 60.0968 87.4809C60.6492 87.0862 61.1637 86.888 61.6384 86.888C61.8677 86.888 62.0518 86.9452 62.1962 87.0577C62.3388 87.1702 62.4092 87.3595 62.4092 87.622C62.4092 88.0738 62.2468 88.5488 61.9236 89.0488C61.6005 89.5471 61.1673 90.0185 60.6257 90.4614C60.0824 90.9043 59.4596 91.2989 58.7556 91.6472C58.0516 91.9954 57.3097 92.2436 56.5281 92.3954C56.6418 91.924 56.8855 91.374 57.2555 90.7418Z" stroke="#9546E8"/>
        <path id="Vector_3" d="M88.6452 89.6256C88.1307 90.2846 87.5278 91.015 86.8328 91.815C86.4844 92.2169 86.1324 92.6079 85.7768 92.9865C85.423 93.3651 85.0674 93.733 84.7063 94.0902C82.9355 95.842 81.6611 96.7171 80.8813 96.7171C80.6719 96.7171 80.5202 96.6474 80.4246 96.5046C80.3289 96.3635 80.2819 96.1903 80.2819 95.9831C80.2819 95.4742 80.4913 94.9098 80.9101 94.2884C81.3289 93.6669 81.7947 93.0276 82.3091 92.3669C82.8236 91.7079 83.2893 91.0436 83.7081 90.3757C84.1269 89.7078 84.3363 89.0524 84.3363 88.4131C84.3363 87.9238 84.1504 87.4898 83.7785 87.113C83.4085 86.7362 82.9175 86.5487 82.3091 86.5487C81.7008 86.5487 81.0473 86.7326 80.4101 87.1005C79.7729 87.4684 79.1628 87.9148 78.5833 88.4417C78.0039 88.9703 77.4641 89.5292 76.9713 90.1221C76.4749 90.715 76.0471 91.2382 75.6861 91.69L75.6283 91.6329C75.7817 91.4079 75.9478 91.1489 76.1283 90.8561C76.3088 90.5632 76.4713 90.2721 76.6139 89.981C76.7565 89.6882 76.8756 89.3935 76.9713 89.0917C77.0652 88.7899 77.1139 88.5077 77.1139 88.2434C77.1139 87.6791 76.928 87.2541 76.5561 86.9719C76.1843 86.6898 75.733 86.5487 75.2005 86.5487C74.4387 86.5487 73.7203 86.7469 73.0433 87.1416C72.3682 87.538 71.7346 88.0166 71.1443 88.5827C70.554 89.1471 70.0071 89.7399 69.5035 90.3614C68.9998 90.9829 68.5467 91.5204 68.1478 91.9722L68.09 91.9151L71.8862 86.7755L68.5449 86.9452C67.5557 88.6595 66.5466 90.34 65.5177 91.9865C65.1711 92.5419 64.8245 93.099 64.4743 93.6544C64.2469 94.0169 64.0194 94.3812 63.7902 94.7438C63.3317 95.4759 62.8696 96.2081 62.4056 96.9421L65.2903 96.8296C65.5177 96.4331 65.8318 95.926 66.2325 95.3045C66.6315 94.683 67.0882 94.0152 67.6026 93.299C68.1171 92.5847 68.6641 91.8686 69.2435 91.1525C69.823 90.4364 70.4006 89.7864 70.971 89.2024C71.5415 88.6185 72.0884 88.1434 72.6119 87.7773C73.1354 87.4095 73.5957 87.2255 73.9964 87.2255C74.2817 87.2255 74.4911 87.3202 74.6228 87.5077C74.7564 87.697 74.8232 87.9041 74.8232 88.1291C74.8232 88.4684 74.6752 88.9292 74.3809 89.5131C74.0849 90.0971 73.695 90.7703 73.2094 91.5329C72.7238 92.2954 72.1714 93.133 71.5541 94.0473C70.9349 94.9616 70.3031 95.926 69.6551 96.9421L72.0144 96.8546L72.6805 96.8296C72.7184 96.7653 72.7581 96.6957 72.7996 96.6242C73.0126 96.2617 73.2816 95.8224 73.6083 95.3027C73.9983 94.6813 74.4459 94.0134 74.9496 93.2973C75.4532 92.5829 75.9857 91.8668 76.5489 91.1507C77.1103 90.4346 77.6771 89.7846 78.2476 89.2006C78.818 88.6167 79.3649 88.1416 79.8884 87.7756C80.4119 87.4077 80.874 87.2237 81.273 87.2237C81.4824 87.2237 81.6629 87.2934 81.8145 87.4345C81.9679 87.5755 82.0438 87.7791 82.0438 88.0416C82.0438 88.3988 81.8344 88.8649 81.4156 89.4399C80.9968 90.015 80.5311 90.6311 80.0166 91.29C79.5021 91.949 79.0364 92.6276 78.6176 93.3223C78.1988 94.0205 77.9894 94.6688 77.9894 95.2724C77.9894 95.8367 78.1753 96.3028 78.5472 96.6707C78.9191 97.0385 79.4353 97.2225 80.1032 97.2225C80.4462 97.2225 80.7838 97.1707 81.1159 97.0671C81.4481 96.9635 81.8019 96.7992 82.1719 96.5724C82.5438 96.3474 82.9481 96.051 83.385 95.6831C83.8236 95.3152 84.3092 94.8688 84.8417 94.342C85.015 94.1705 85.1865 93.9973 85.3562 93.8187C85.5818 93.5848 85.8057 93.3455 86.0259 93.099C86.4158 92.6651 86.7823 92.2472 87.1252 91.8418C87.4682 91.4365 87.7877 91.0561 88.082 90.6971C88.3762 90.34 88.6379 90.0203 88.8672 89.7364L88.6379 89.6239L88.6452 89.6256Z" stroke="#9546E8"/>
        <path id="Vector_4" d="M95.983 89.4274C95.8115 89.6149 95.5877 89.8703 95.3133 90.19C95.0371 90.5114 94.723 90.8686 94.371 91.2632C94.019 91.6597 93.6417 92.0686 93.2428 92.4919C93.1272 92.6151 93.0099 92.7383 92.8926 92.8615C92.6056 93.1633 92.3131 93.4687 92.0153 93.7776C90.9683 94.8331 90.0982 95.5759 89.4032 96.0081C88.7083 96.4421 88.1703 96.6581 87.7894 96.6581C87.618 96.6581 87.4898 96.5885 87.405 96.4456C87.3201 96.3046 87.2768 96.1206 87.2768 95.8956C87.2768 95.6134 87.3779 95.2509 87.5764 94.8081C87.7768 94.3652 88.0801 93.7955 88.4898 93.099C88.8978 92.4026 89.4267 91.5597 90.0748 90.5703C90.721 89.5828 91.4918 88.3917 92.3871 86.9969L89.4466 87.138C88.5891 88.4577 87.8761 89.5631 87.3057 90.4578C86.7352 91.3525 86.2767 92.1008 85.9356 92.7026C85.8796 92.799 85.8291 92.8919 85.7785 92.983C85.6125 93.2883 85.4735 93.5669 85.3651 93.8169C85.3038 93.958 85.2496 94.0902 85.2063 94.2134C85.0637 94.617 84.9933 95.0098 84.9933 95.3849C84.9933 95.9313 85.1648 96.3742 85.5078 96.7135C85.8507 97.0528 86.3363 97.2225 86.9645 97.2225C87.6306 97.2225 88.3581 97.0046 89.1487 96.5724C89.9376 96.1403 90.8853 95.3777 91.99 94.2848C92.1362 94.1402 92.2824 93.9937 92.4305 93.8455C92.6705 93.6044 92.9142 93.3544 93.1615 93.099C93.5623 92.6847 93.9522 92.2668 94.3331 91.8418C94.714 91.4168 95.0714 91.0132 95.4035 90.6275C95.7357 90.2417 96.0173 89.8989 96.2447 89.5971L95.9884 89.4274H95.983ZM94.9992 81.1234C94.723 80.8591 94.4035 80.7288 94.0425 80.7288C93.6038 80.7288 93.2193 80.8752 92.8872 81.1663C92.555 81.4592 92.3871 81.8199 92.3871 82.2538C92.3871 82.6878 92.5388 83.0128 92.8438 83.2289C93.1489 83.445 93.5099 83.5539 93.9287 83.5539C94.3078 83.5539 94.6508 83.3985 94.9559 83.0878C95.2591 82.7771 95.4126 82.4324 95.4126 82.0556C95.4126 81.6985 95.2754 81.3877 94.9992 81.1234Z" stroke="#9546E8"/>
        <path id="Vector_5" d="M103.577 89.4274C102.949 90.256 102.274 91.0757 101.55 91.8847C101.225 92.249 100.913 92.5901 100.611 92.9115C100.24 93.308 99.8876 93.6705 99.5518 94.0026C98.6583 94.8509 97.8207 95.5152 97.0391 95.9938C96.2593 96.4742 95.6311 96.7153 95.1563 96.7153C94.909 96.7153 94.7177 96.6403 94.5859 96.4885C94.4523 96.3385 94.3855 96.1403 94.3855 95.8956C94.3855 95.6134 94.4668 95.2831 94.6292 94.9063C94.7899 94.5295 95.048 94.0259 95.4 93.3955C95.752 92.7651 96.2232 91.974 96.8134 91.0221C97.4037 90.0721 98.1276 88.8988 98.9832 87.5059H102.666L102.924 86.9969H99.2973L101.667 83.3253L98.5843 83.4378L96.4434 86.9969H94.2447L94.0444 87.5059H96.1853C95.6148 88.4845 95.0805 89.3524 94.5859 90.1042C94.0895 90.8578 93.6581 91.5454 93.2862 92.1668C93.1436 92.4061 93.0118 92.6383 92.8927 92.8615C92.7085 93.208 92.5533 93.5366 92.4269 93.8455C92.4233 93.8562 92.4179 93.8651 92.4143 93.8759C92.2049 94.3937 92.1002 94.8973 92.1002 95.3866C92.1002 96.0653 92.3295 96.5403 92.7862 96.8135C93.2429 97.0867 93.7754 97.2242 94.3855 97.2242C94.8242 97.2242 95.27 97.1403 95.7286 96.9707C96.1853 96.801 96.651 96.5706 97.1275 96.2795C97.6023 95.9867 98.0734 95.6492 98.541 95.2616C99.0067 94.8759 99.458 94.467 99.8984 94.033C100.117 93.8169 100.33 93.5991 100.539 93.3812C101.093 92.8026 101.613 92.2186 102.097 91.6311C102.763 90.8221 103.316 90.1346 103.754 89.5685L103.583 89.4274H103.577Z" stroke="#9546E8"/>
        <path id="Vector_6" d="M117.253 89.3989C116.738 90.0025 116.253 90.4543 115.796 90.7543C115.578 90.8989 115.35 91.0079 115.119 91.0847C114.868 91.1668 114.608 91.2079 114.339 91.2079C113.807 91.2079 113.374 91.0382 113.042 90.6989C112.708 90.3596 112.495 89.9078 112.399 89.3435C112.265 88.572 111.904 87.9131 111.314 87.3666C110.724 86.822 109.915 86.5469 108.888 86.5469C107.937 86.5469 106.965 86.7487 105.976 87.1541C104.987 87.5577 104.083 88.1042 103.263 88.7917C102.445 89.4792 101.779 90.2793 101.265 91.1918C100.953 91.749 100.734 92.3222 100.613 92.9098C100.581 93.0651 100.554 93.2223 100.536 93.3794C100.507 93.6044 100.494 93.8294 100.494 94.058C100.494 95.0938 100.808 95.9081 101.436 96.501C102.064 97.0939 102.902 97.3921 103.949 97.3921C104.938 97.3921 105.891 97.2082 106.803 96.8403C107.716 96.4724 108.545 95.9742 109.287 95.3438C110.029 94.7134 110.662 93.9777 111.186 93.1401C111.709 92.3008 112.087 91.4115 112.314 90.4704C112.579 90.8097 112.875 91.074 113.199 91.2615C113.522 91.4508 113.903 91.5436 114.341 91.5436C114.52 91.5436 114.695 91.5275 114.865 91.4954C115.293 91.415 115.693 91.2329 116.069 90.9507C116.592 90.5561 117.044 90.1132 117.424 89.6239L117.253 89.3989ZM109.772 89.8507C109.619 90.4346 109.406 91.0454 109.13 91.6865C108.854 92.3276 108.531 92.9669 108.159 93.608C107.789 94.2473 107.382 94.8224 106.946 95.3313C106.507 95.8403 106.052 96.2546 105.575 96.5724C105.099 96.8939 104.622 97.0528 104.148 97.0528C103.709 97.0528 103.391 96.9207 103.191 96.6582C102.991 96.3939 102.891 96.0278 102.891 95.5563C102.891 95.1617 102.967 94.6724 103.12 94.0884C103.272 93.5044 103.487 92.8937 103.763 92.2526C104.039 91.6133 104.362 90.9722 104.734 90.3328C105.106 89.6935 105.511 89.1185 105.949 88.6095C106.386 88.1006 106.843 87.6881 107.319 87.3666C107.794 87.047 108.271 86.8862 108.747 86.8862C109.186 86.8862 109.503 87.0184 109.704 87.2827C109.904 87.547 110.003 87.9131 110.003 88.3845C110.003 88.781 109.926 89.2703 109.774 89.8542L109.772 89.8507Z" stroke="#9546E8"/>
        <path id="Vector_7" d="M130.871 89.3149C130.47 89.8042 130.023 90.29 129.528 90.7703C129.033 91.2507 128.501 91.6918 127.929 92.0972C127.873 92.1365 127.815 92.1776 127.757 92.2151C127.239 92.5704 126.701 92.8794 126.143 93.1419C125.524 93.4348 124.892 93.6455 124.244 93.7776L124.186 93.7205C124.757 93.1169 125.242 92.4026 125.643 91.574C126.042 90.7453 126.243 89.8685 126.243 88.947C126.243 88.2327 126.033 87.6523 125.614 87.2112C125.196 86.7684 124.643 86.5469 123.957 86.5469C123.271 86.5469 122.602 86.7076 122.002 87.0273C121.403 87.347 120.842 87.747 120.318 88.2274C119.795 88.7077 119.309 89.2292 118.861 89.7953C118.414 90.3596 117.989 90.8793 117.59 91.3489L117.533 91.2918L124.127 81.3502L121.044 81.4913C119.069 84.679 117.092 87.8756 115.114 91.0846C115.027 91.2222 114.942 91.3597 114.859 91.4972C114.385 92.2651 113.91 93.0347 113.437 93.8044C111.922 96.2635 110.404 98.7136 108.886 101.153H111.841C112.987 99.2011 114.101 97.2296 115.293 95.3152C116.177 93.8937 117.049 92.6044 117.905 91.4454C118.76 90.2882 119.569 89.3417 120.331 88.6077C121.092 87.8738 121.759 87.5059 122.329 87.5059C122.576 87.5059 122.775 87.5523 122.928 87.647C123.08 87.7398 123.199 87.8684 123.286 88.0273C123.371 88.1863 123.428 88.3666 123.457 88.5631C123.486 88.7613 123.501 88.9631 123.501 89.1703C123.501 89.6989 123.434 90.2114 123.3 90.7096C123.167 91.2079 123.001 91.674 122.8 92.1079C122.6 92.5419 122.39 92.9312 122.172 93.2794C121.952 93.6276 121.759 93.9151 121.587 94.1419C121.186 94.1991 120.688 94.2741 120.089 94.367C119.49 94.4616 118.914 94.5884 118.361 94.7473C117.809 94.9081 117.338 95.1152 116.948 95.3688C116.558 95.6224 116.363 95.9492 116.363 96.3438C116.363 96.7385 116.511 96.9885 116.805 97.1492C117.101 97.3082 117.448 97.3903 117.849 97.3903C118.381 97.3903 118.923 97.2867 119.475 97.0796C120.027 96.8724 120.571 96.6081 121.103 96.2885C121.636 95.9688 122.139 95.6206 122.616 95.2438C123.091 94.867 123.52 94.5098 123.901 94.1705C124.701 94.0384 125.457 93.808 126.17 93.4794C126.672 93.249 127.145 92.9901 127.589 92.7008C127.779 92.5794 127.963 92.4526 128.142 92.3204C128.741 91.8793 129.288 91.4132 129.782 90.9221C130.277 90.4328 130.705 89.9614 131.068 89.5096L130.867 89.3113L130.871 89.3149ZM120.764 95.2599C120.517 95.5331 120.249 95.7885 119.964 96.0224C119.679 96.2581 119.388 96.4599 119.092 96.6296C118.796 96.7992 118.517 96.8832 118.251 96.8832C117.717 96.8832 117.452 96.676 117.452 96.2617C117.452 95.942 117.609 95.6777 117.923 95.4706C118.237 95.2634 118.609 95.0991 119.036 94.9759C119.464 94.8527 119.903 94.7545 120.351 94.6795C120.798 94.6045 121.145 94.5473 121.394 94.5098C121.222 94.7366 121.013 94.9848 120.766 95.2581L120.764 95.2599Z" stroke="#9546E8"/>
        <path id="Vector_8" d="M142.234 89.3435C141.72 90.0025 141.122 90.7132 140.436 91.4757C139.75 92.2383 139.037 92.9687 138.295 93.6651C137.324 94.5688 136.359 95.2563 135.398 95.7277C134.438 96.1992 133.557 96.4331 132.757 96.4331C131.958 96.4331 131.301 96.1796 130.844 95.6706C130.387 95.1616 130.158 94.5027 130.158 93.6937C130.158 93.3937 130.205 93.0544 130.301 92.6776C130.643 92.6026 131.082 92.5079 131.615 92.3954C132.147 92.2829 132.718 92.1401 133.328 91.9722C133.938 91.8025 134.55 91.6043 135.169 91.3793C135.788 91.1543 136.344 90.89 136.841 90.5882C137.335 90.2864 137.739 89.9489 138.054 89.5703C138.368 89.1953 138.525 88.7792 138.525 88.3274C138.525 87.7631 138.295 87.3255 137.839 87.0148C137.382 86.7041 136.743 86.5487 135.925 86.5487C135.032 86.5487 134.084 86.7666 133.084 87.1987C132.086 87.6327 131.167 88.197 130.329 88.8935C129.492 89.5899 128.797 90.381 128.244 91.265C128.048 91.5811 127.885 91.899 127.759 92.2169C127.694 92.3794 127.638 92.5419 127.593 92.7044C127.475 93.1187 127.416 93.5312 127.416 93.9473C127.416 94.9652 127.73 95.7938 128.358 96.4331C128.986 97.0725 129.842 97.3939 130.927 97.3939C131.477 97.3939 132.05 97.335 132.638 97.2153C133.189 97.1046 133.756 96.9439 134.339 96.7296C134.476 96.6796 134.613 96.6242 134.752 96.5653C135.833 96.0992 136.958 95.3492 138.122 94.3134C139.055 93.4669 139.859 92.6562 140.534 91.8847C141.209 91.1132 141.843 90.3328 142.433 89.5417L142.232 89.3435H142.234ZM132.369 88.9328C132.855 88.3595 133.373 87.8738 133.925 87.4791C134.476 87.0844 134.99 86.8862 135.467 86.8862C135.696 86.8862 135.882 86.9434 136.025 87.0559C136.167 87.1684 136.238 87.3577 136.238 87.6202C136.238 88.072 136.077 88.547 135.752 89.047C135.427 89.5453 134.996 90.0167 134.452 90.4596C133.909 90.9025 133.286 91.2972 132.582 91.6454C131.878 91.9936 131.136 92.2419 130.355 92.3936C130.468 91.9222 130.712 91.3722 131.084 90.74C131.456 90.1096 131.884 89.5078 132.369 88.9328Z" stroke="#9546E8"/>
        <path id="Vector_9" d="M39.5652 100.171L40.1284 97.0939L40.2168 96.6242L40.7096 93.9366" stroke="#9546E8"/>
        </g>
        <g id="Group_2">
        <path id="Vector_10" d="M62.1509 113.795C61.9036 114.022 61.6039 114.247 61.2519 114.474C60.8999 114.701 60.5136 114.908 60.0966 115.095C60.0587 115.113 60.019 115.129 59.9811 115.147C59.5984 115.311 59.2031 115.445 58.7987 115.547C58.3511 115.66 57.8998 115.717 57.4431 115.717C57.0622 115.717 56.6957 115.699 56.3437 115.66C55.9917 115.622 55.6542 115.528 55.3311 115.378C55.8076 114.738 56.2824 114.019 56.7589 113.217C57.2337 112.417 57.6633 111.588 58.0442 110.731C58.4251 109.875 58.7338 108.999 58.972 108.104C59.2103 107.209 59.3294 106.348 59.3294 105.52C59.3294 104.202 59.0569 103.118 58.5153 102.271C57.972 101.423 57.1308 101 55.9881 101C55.5314 101 55.0513 101.077 54.5458 101.227C54.0422 101.379 53.4844 101.736 52.8743 102.3C51.8074 102.395 50.7478 102.677 49.6918 103.148C48.6358 103.618 47.6303 104.213 46.679 104.927C45.7277 105.643 44.8432 106.466 44.0237 107.399C43.2059 108.331 42.4965 109.309 41.8972 110.336C41.2979 111.363 40.8304 112.422 40.4982 113.513C40.1661 114.604 40 115.669 40 116.704C40 117.383 40.0812 118.028 40.2419 118.638C40.4044 119.251 40.6805 119.796 41.0704 120.276C41.4604 120.756 41.9748 121.137 42.612 121.419C43.2493 121.701 44.0435 121.842 44.9966 121.842C46.0238 121.842 47.013 121.664 47.9661 121.305C48.9174 120.947 49.8164 120.476 50.663 119.894C51.5114 119.31 52.3038 118.646 53.0476 117.903C53.7895 117.158 54.4646 116.41 55.0747 115.658C55.7968 115.922 56.6073 116.053 57.5026 116.053C58.203 116.053 58.9323 115.908 59.6869 115.619C59.7717 115.586 59.8584 115.553 59.9432 115.515C60.7898 115.158 61.5841 114.649 62.3278 113.99L62.1563 113.792L62.1509 113.795ZM52.5728 117.199C51.9915 117.924 51.3345 118.588 50.6016 119.19C49.8687 119.794 49.0925 120.297 48.2748 120.703C47.4552 121.106 46.6267 121.31 45.7909 121.31C45.2385 121.31 44.7782 121.189 44.4063 120.944C44.0363 120.699 43.7403 120.374 43.5218 119.969C43.3034 119.565 43.1464 119.097 43.0507 118.571C42.955 118.042 42.9081 117.497 42.9081 116.931C42.9081 116.047 43.0128 115.11 43.2222 114.12C43.4316 113.133 43.7312 112.14 44.1211 111.142C44.511 110.143 44.9858 109.174 45.549 108.233C46.1104 107.291 46.7476 106.44 47.4625 105.677C48.1755 104.914 48.9517 104.266 49.7893 103.729C50.6269 103.191 51.5204 102.83 52.4717 102.641L52.5295 102.697C51.7876 103.488 51.2027 104.397 50.7731 105.422C50.3453 106.448 50.1304 107.507 50.1304 108.599C50.1304 109.277 50.2207 109.94 50.4012 110.59C50.5817 111.24 50.8399 111.851 51.172 112.426C51.5042 113.001 51.9085 113.518 52.3851 113.979C52.8598 114.442 53.3941 114.831 53.9844 115.153C53.6234 115.792 53.1523 116.476 52.571 117.201L52.5728 117.199ZM54.2137 114.84C53.6433 114.52 53.1703 114.095 52.8003 113.568C52.4284 113.04 52.1305 112.461 51.9013 111.831C51.672 111.201 51.5114 110.545 51.4157 109.867C51.3218 109.188 51.2731 108.54 51.2731 107.918C51.2731 107.484 51.3056 107.02 51.3742 106.52C51.441 106.022 51.5457 105.531 51.6883 105.05C51.8309 104.57 52.006 104.118 52.2154 103.695C52.4248 103.272 52.6721 102.909 52.9573 102.607C53.3761 102.589 53.7227 102.632 53.9989 102.736C54.2751 102.839 54.4989 102.98 54.6704 103.159C54.8419 103.338 54.9646 103.554 55.0422 103.809C55.1181 104.063 55.156 104.323 55.156 104.586C55.156 104.756 55.1451 104.943 55.1271 105.15C55.109 105.357 55.0801 105.518 55.0422 105.631L55.3563 105.659C55.3942 105.509 55.4267 105.354 55.4556 105.193C55.4845 105.032 55.4989 104.839 55.4989 104.613C55.4989 104.331 55.461 104.048 55.3852 103.766C55.3094 103.484 55.1848 103.234 55.0134 103.018C54.8419 102.802 54.6144 102.629 54.3274 102.498C54.0422 102.368 53.6902 102.293 53.2714 102.275C53.4609 102.095 53.6794 101.948 53.9285 101.839C54.1758 101.73 54.4718 101.675 54.813 101.675C55.2318 101.675 55.5838 101.766 55.869 101.95C56.1542 102.132 56.3835 102.388 56.5549 102.713C56.7264 103.038 56.8492 103.418 56.9268 103.85C57.0026 104.284 57.0405 104.745 57.0405 105.234C57.0405 106.007 56.9737 106.811 56.8402 107.649C56.7066 108.486 56.517 109.325 56.2697 110.163C56.0224 111.002 55.7228 111.82 55.3708 112.62C55.0188 113.422 54.6325 114.16 54.2155 114.838L54.2137 114.84Z" stroke="#9546E8"/>
        <path id="Vector_11" d="M76.4024 113.965C75.6407 114.963 74.9367 115.844 74.2886 116.606C73.9384 117.019 73.5792 117.424 73.2127 117.822C72.9023 118.162 72.5846 118.496 72.2614 118.822C71.404 119.706 70.6296 120.347 69.9346 120.742C69.2396 121.139 68.6927 121.335 68.2937 121.335C68.0843 121.335 67.9327 121.274 67.837 121.151C67.7414 121.028 67.6944 120.865 67.6944 120.656C67.6944 120.299 67.8894 119.724 68.2793 118.933C68.6692 118.142 69.1837 117.215 69.8209 116.151C70.4581 115.086 71.1874 113.929 72.0051 112.676C72.8228 111.424 73.6568 110.158 74.5034 108.877C75.0558 108.04 75.6028 107.213 76.1389 106.397H73.1766L69.2342 112.802C68.7956 111.597 67.9399 110.995 66.6637 110.995C65.7322 110.995 64.79 111.222 63.8387 111.674C62.8855 112.126 62.0209 112.718 61.2411 113.454C60.6941 113.969 60.2175 114.533 59.8114 115.144C59.7067 115.299 59.6074 115.458 59.5135 115.619C59.4486 115.729 59.3872 115.84 59.3276 115.953C58.833 116.885 58.5857 117.822 58.5857 118.763C58.5857 119.14 58.6272 119.503 58.7139 119.851C58.7987 120.199 58.9413 120.51 59.1417 120.783C59.342 121.056 59.5984 121.272 59.9125 121.433C60.2248 121.594 60.6111 121.674 61.0678 121.674C61.9812 121.674 62.7899 121.467 63.4939 121.053C64.1979 120.639 64.8459 120.131 65.4362 119.528L65.494 119.585C65.4362 119.83 65.4272 120.083 65.4651 120.347C65.503 120.612 65.6023 120.856 65.7647 121.081C65.9254 121.306 66.1456 121.49 66.4218 121.633C66.698 121.774 67.0536 121.844 67.4923 121.844C68.4436 121.844 69.3371 121.562 70.1747 120.996C71.0123 120.431 71.8878 119.678 72.8012 118.737C72.9239 118.608 73.0485 118.478 73.173 118.344C73.4131 118.085 73.655 117.815 73.9005 117.537C74.2724 117.113 74.6298 116.694 74.971 116.279C75.3139 115.865 75.6316 115.47 75.9277 115.094C76.2237 114.717 76.4746 114.388 76.684 114.104L76.3988 113.963L76.4024 113.965ZM66.4236 117.763C65.8803 118.583 65.281 119.28 64.6239 119.853C63.9668 120.428 63.335 120.715 62.7249 120.715C62.2104 120.715 61.8494 120.537 61.64 120.178C61.4306 119.821 61.3259 119.415 61.3259 118.963C61.3259 118.267 61.4974 117.476 61.8404 116.59C62.1833 115.706 62.6202 114.878 63.1545 114.104C63.687 113.333 64.2719 112.677 64.9109 112.142C65.5481 111.604 66.1619 111.336 66.7521 111.336C67.1908 111.336 67.5518 111.463 67.837 111.717C68.1223 111.97 68.2649 112.372 68.2649 112.917C68.2649 113.558 68.0934 114.32 67.7504 115.204C67.4074 116.088 66.9652 116.942 66.4236 117.76V117.763Z" stroke="#9546E8"/>
        <path id="Vector_12" d="M88.1612 113.795C87.6467 114.454 87.0474 115.165 86.3615 115.928C85.9319 116.408 85.4896 116.874 85.0365 117.326C84.7693 117.594 84.4968 117.858 84.2224 118.117C83.2512 119.021 82.2855 119.708 81.3251 120.18C80.363 120.651 79.4839 120.887 78.6842 120.887C77.8845 120.887 77.2275 120.633 76.7708 120.124C76.3141 119.615 76.0848 118.958 76.0848 118.147C76.0848 117.846 76.1317 117.508 76.2274 117.131C76.5704 117.056 77.0072 116.962 77.5416 116.849C78.0741 116.737 78.6445 116.595 79.2546 116.426C79.863 116.256 80.4767 116.058 81.0959 115.833C81.715 115.606 82.271 115.344 82.7674 115.042C83.262 114.742 83.6664 114.402 83.9805 114.026C84.2946 113.649 84.4516 113.235 84.4516 112.783C84.4516 112.218 84.2242 111.781 83.7657 111.47C83.309 111.159 82.6718 111.004 81.8522 111.004C80.9587 111.004 80.011 111.222 79.0109 111.654C78.0109 112.088 77.0939 112.652 76.2563 113.349C75.4187 114.045 74.7237 114.836 74.1714 115.722C73.7381 116.419 73.4746 117.12 73.3825 117.829C73.359 118.003 73.3464 118.178 73.3446 118.351C73.3446 118.369 73.3446 118.387 73.3446 118.406C73.3446 119.422 73.6587 120.253 74.2869 120.892C74.9151 121.531 75.7725 121.853 76.8574 121.853C77.9423 121.853 79.0615 121.631 80.2691 121.189C81.4768 120.747 82.7386 119.942 84.0527 118.774C84.2368 118.606 84.4173 118.438 84.5924 118.274C85.3001 117.608 85.9246 116.965 86.4662 116.345C87.1413 115.574 87.7749 114.792 88.3652 114.001L88.1648 113.802L88.1612 113.795ZM78.2961 113.385C78.7817 112.811 79.2998 112.326 79.8521 111.929C80.4045 111.534 80.919 111.336 81.3937 111.336C81.623 111.336 81.8071 111.393 81.9515 111.506C82.0941 111.618 82.1645 111.808 82.1645 112.07C82.1645 112.522 82.0021 112.997 81.6789 113.495C81.3558 113.995 80.9226 114.465 80.381 114.908C79.8377 115.351 79.2149 115.747 78.5109 116.094C77.8069 116.442 77.065 116.692 76.2834 116.842C76.3971 116.372 76.6408 115.82 77.0108 115.19C77.3827 114.56 77.8105 113.956 78.2961 113.383V113.385Z" stroke="#9546E8"/>
        <path id="Vector_13" d="M95.7265 113.879C95.0983 114.708 94.4231 115.526 93.6993 116.337C93.1126 116.992 92.5638 117.579 92.053 118.101C91.9338 118.222 91.8165 118.342 91.701 118.454C90.8074 119.301 89.9681 119.965 89.1882 120.446C88.4084 120.926 87.7802 121.165 87.3037 121.165C87.0564 121.165 86.865 121.09 86.7332 120.94C86.5997 120.789 86.5329 120.592 86.5329 120.347C86.5329 120.065 86.6141 119.737 86.7766 119.358C86.9372 118.981 87.1954 118.478 87.5474 117.847C87.8994 117.217 88.3705 116.426 88.9608 115.474C89.5511 114.524 90.2731 113.351 91.1306 111.958H94.813L95.0694 111.449H91.4447L93.813 107.777L90.7298 107.89L88.5889 111.449H86.3903L86.1899 111.958H88.3308C87.7604 112.936 87.226 113.804 86.7314 114.556C86.2368 115.31 85.8036 115.997 85.4335 116.619C85.2891 116.862 85.1555 117.097 85.0346 117.326C84.8595 117.656 84.7097 117.969 84.5869 118.267C84.5779 118.287 84.5707 118.308 84.5617 118.329C84.3523 118.847 84.2476 119.351 84.2476 119.84C84.2476 120.519 84.4768 120.994 84.9335 121.267C85.3902 121.54 85.9227 121.676 86.5329 121.676C86.9715 121.676 87.4174 121.592 87.8741 121.422C88.3308 121.253 88.7983 121.022 89.2731 120.731C89.7478 120.44 90.219 120.101 90.6865 119.715C91.071 119.396 91.4483 119.06 91.8129 118.708C91.8905 118.635 91.9663 118.56 92.0422 118.485C92.8418 117.694 93.5747 116.894 94.2408 116.085C94.9069 115.276 95.4593 114.588 95.8961 114.022L95.7246 113.881L95.7265 113.879Z" stroke="#9546E8"/>
        <path id="Vector_14" d="M109.431 113.767C109.24 114.011 109.003 114.308 108.716 114.656C108.431 115.004 108.113 115.386 107.76 115.799C107.408 116.213 107.027 116.642 106.617 117.085C106.323 117.403 106.025 117.719 105.727 118.033C105.61 118.156 105.492 118.278 105.375 118.399C105.032 118.738 104.671 119.078 104.29 119.415C103.909 119.754 103.537 120.051 103.176 120.305C102.815 120.558 102.471 120.767 102.147 120.926C101.824 121.087 101.548 121.167 101.319 121.167C100.958 121.167 100.777 120.96 100.777 120.546C100.777 120.131 100.905 119.651 101.162 119.104C101.418 118.56 101.776 117.913 102.232 117.17C102.689 116.426 103.236 115.576 103.873 114.615C104.51 113.654 105.2 112.563 105.944 111.34L103.003 111.567L100.548 115.52C100.109 116.236 99.6202 116.922 99.0787 117.583C98.5353 118.242 97.9884 118.826 97.4378 119.335C96.8854 119.844 96.3565 120.249 95.8529 120.549C95.3474 120.851 94.9142 121.001 94.5532 121.001C94.3438 121.001 94.1777 120.926 94.0531 120.776C93.9286 120.626 93.8672 120.437 93.8672 120.212C93.8672 119.496 94.3384 118.408 95.2806 116.949C96.2229 115.49 97.445 113.62 98.9487 111.342L95.9215 111.454C94.5893 113.618 93.5333 115.379 92.7516 116.735C92.4646 117.235 92.2282 117.69 92.0476 118.104C91.9538 118.317 91.8743 118.521 91.8094 118.71C91.6577 119.149 91.5819 119.528 91.5819 119.844C91.5819 120.333 91.7353 120.762 92.0386 121.13C92.3437 121.496 92.7914 121.68 93.3816 121.68C93.9719 121.68 94.5568 121.567 95.0803 121.34C95.6038 121.113 96.093 120.831 96.5497 120.492C97.0064 120.153 97.4342 119.781 97.8349 119.376C98.2339 118.972 98.6057 118.59 98.9487 118.233L99.0065 118.29C98.9108 118.442 98.8295 118.658 98.7628 118.94C98.696 119.222 98.6617 119.544 98.6617 119.901C98.6617 120.41 98.8332 120.833 99.1761 121.172C99.5191 121.512 99.9758 121.681 100.546 121.681C101.346 121.681 102.155 121.408 102.972 120.862C103.601 120.444 104.274 119.897 104.99 119.222C105.209 119.019 105.431 118.803 105.657 118.574C106.456 117.765 107.207 116.94 107.913 116.103C108.617 115.265 109.198 114.544 109.655 113.942L109.428 113.772L109.431 113.767Z" stroke="#9546E8"/>
        <path id="Vector_15" d="M122.849 113.935C122.506 114.349 121.991 114.967 121.307 115.785C120.814 116.374 120.285 116.976 119.724 117.59C119.507 117.829 119.282 118.071 119.052 118.313C118.006 119.405 117.173 120.153 116.554 120.558C115.935 120.964 115.493 121.165 115.227 121.165C114.962 121.165 114.771 121.096 114.657 120.955C114.543 120.814 114.485 120.63 114.485 120.403C114.485 119.876 114.689 119.306 115.099 118.694C115.507 118.081 115.96 117.442 116.455 116.772C116.95 116.104 117.403 115.436 117.812 114.767C118.22 114.099 118.426 113.444 118.426 112.802C118.426 112.293 118.264 111.867 117.941 111.518C117.616 111.17 117.141 110.995 116.513 110.995C115.771 110.995 115.029 111.222 114.285 111.674C113.543 112.126 112.848 112.652 112.2 113.256C111.554 113.86 110.976 114.47 110.473 115.092C109.969 115.713 109.583 116.194 109.316 116.533L109.26 116.476L112.971 111.336L109.716 111.449C108.727 113.161 107.722 114.833 106.704 116.462C106.377 116.983 106.052 117.506 105.727 118.031C105.481 118.424 105.238 118.819 104.996 119.215C104.55 119.938 104.106 120.664 103.662 121.39L106.546 121.305C106.794 120.835 107.128 120.269 107.545 119.61C107.964 118.951 108.435 118.269 108.958 117.562C109.482 116.856 110.038 116.151 110.628 115.444C111.218 114.736 111.799 114.106 112.37 113.551C112.94 112.995 113.484 112.543 113.998 112.195C114.513 111.847 114.958 111.672 115.339 111.672C115.606 111.672 115.805 111.738 115.939 111.87C116.072 112.002 116.139 112.172 116.139 112.379C116.139 112.813 115.933 113.32 115.525 113.904C115.115 114.488 114.664 115.104 114.168 115.754C113.673 116.404 113.22 117.067 112.812 117.746C112.402 118.424 112.198 119.083 112.198 119.722C112.198 120.231 112.37 120.683 112.713 121.078C113.056 121.472 113.588 121.671 114.312 121.671C115.036 121.671 115.773 121.455 116.468 121.021C117.163 120.587 118.004 119.853 118.995 118.817C119.21 118.594 119.421 118.371 119.63 118.147C120.215 117.519 120.775 116.885 121.307 116.245C122.031 115.379 122.639 114.654 123.134 114.072L122.849 113.931V113.935Z" stroke="#9546E8"/>
        <path id="Vector_16" d="M137.409 113.965C136.647 114.963 135.943 115.844 135.295 116.606C134.945 117.019 134.588 117.424 134.221 117.82C133.911 118.16 133.591 118.494 133.268 118.822C132.412 119.706 131.636 120.347 130.941 120.742C130.246 121.139 129.699 121.335 129.3 121.335C129.091 121.335 128.939 121.274 128.844 121.151C128.748 121.028 128.701 120.865 128.701 120.656C128.701 120.299 128.896 119.724 129.286 118.933C129.676 118.142 130.19 117.215 130.827 116.151C131.465 115.086 132.192 113.929 133.012 112.676C133.829 111.424 134.663 110.158 135.51 108.877C136.062 108.04 136.609 107.213 137.145 106.397H134.185L130.241 112.802C129.802 111.597 128.947 110.995 127.672 110.995C126.739 110.995 125.797 111.222 124.845 111.674C123.894 112.126 123.027 112.718 122.248 113.454C121.466 114.188 120.829 115.022 120.334 115.954C120.045 116.497 119.84 117.044 119.72 117.59C119.679 117.778 119.646 117.965 119.627 118.153C119.603 118.356 119.59 118.562 119.59 118.765C119.59 119.142 119.634 119.504 119.719 119.853C119.803 120.201 119.946 120.512 120.146 120.785C120.347 121.058 120.603 121.274 120.917 121.435C121.231 121.596 121.616 121.676 122.073 121.676C122.986 121.676 123.795 121.469 124.5 121.055C125.204 120.64 125.851 120.133 126.441 119.529L126.499 119.587C126.441 119.831 126.432 120.085 126.47 120.349C126.508 120.613 126.607 120.858 126.77 121.083C126.932 121.308 127.15 121.492 127.427 121.635C127.703 121.776 128.06 121.846 128.497 121.846C129.448 121.846 130.344 121.564 131.179 120.997C132.017 120.433 132.893 119.68 133.806 118.738C133.93 118.61 134.053 118.479 134.178 118.344C134.418 118.085 134.66 117.817 134.905 117.538C135.277 117.115 135.635 116.695 135.976 116.281C136.319 115.867 136.636 115.472 136.932 115.095C137.228 114.719 137.479 114.39 137.689 114.106L137.404 113.965H137.409ZM127.43 117.763C126.887 118.583 126.288 119.279 125.63 119.853C124.973 120.428 124.342 120.715 123.731 120.715C123.217 120.715 122.856 120.537 122.647 120.178C122.437 119.821 122.332 119.415 122.332 118.963C122.332 118.267 122.504 117.476 122.847 116.59C123.19 115.706 123.629 114.877 124.161 114.104C124.694 113.333 125.28 112.677 125.917 112.142C126.555 111.604 127.168 111.336 127.759 111.336C128.197 111.336 128.558 111.463 128.844 111.717C129.129 111.97 129.271 112.372 129.271 112.917C129.271 113.558 129.1 114.32 128.757 115.204C128.414 116.088 127.972 116.942 127.43 117.76V117.763ZM136.952 101.904L136.609 102.461C137.16 102.35 137.727 102.189 138.31 101.975C138.447 101.925 138.584 101.87 138.723 101.811L136.952 101.904Z" stroke="#9546E8"/>
        <path id="Vector_17" d="M149 113.795C148.485 114.454 147.888 115.165 147.202 115.928C146.516 116.69 145.803 117.42 145.061 118.117C144.09 119.021 143.124 119.708 142.164 120.18C141.203 120.651 140.323 120.887 139.523 120.887C138.723 120.887 138.066 120.633 137.609 120.124C137.153 119.615 136.923 118.958 136.923 118.147C136.923 117.846 136.972 117.508 137.066 117.131C137.409 117.056 137.848 116.962 138.38 116.849C138.913 116.737 139.483 116.595 140.093 116.426C140.703 116.256 141.317 116.058 141.936 115.833C142.554 115.606 143.111 115.344 143.606 115.042C144.101 114.742 144.505 114.402 144.819 114.026C145.133 113.649 145.29 113.235 145.29 112.783C145.29 112.218 145.061 111.781 144.604 111.47C144.148 111.159 143.509 111.004 142.691 111.004C141.797 111.004 140.85 111.222 139.85 111.654C138.851 112.088 137.933 112.652 137.095 113.349C136.257 114.045 135.562 114.836 135.01 115.722C134.577 116.419 134.313 117.119 134.221 117.826C134.198 118.001 134.185 118.174 134.183 118.349C134.183 118.367 134.183 118.387 134.183 118.404C134.183 119.421 134.497 120.251 135.126 120.89C135.754 121.53 136.609 121.851 137.694 121.851C138.779 121.851 139.898 121.63 141.106 121.187C142.314 120.746 143.575 119.94 144.89 118.772C145.823 117.924 146.626 117.115 147.303 116.344C147.978 115.572 148.612 114.79 149.202 113.999L149.002 113.801L149 113.795ZM139.137 113.385C139.622 112.811 140.14 112.326 140.693 111.929C141.243 111.534 141.759 111.336 142.234 111.336C142.463 111.336 142.649 111.393 142.792 111.506C142.935 111.618 143.005 111.808 143.005 112.07C143.005 112.522 142.844 112.997 142.519 113.495C142.194 113.995 141.763 114.465 141.22 114.908C140.678 115.351 140.054 115.747 139.35 116.094C138.644 116.442 137.902 116.692 137.122 116.842C137.236 116.372 137.479 115.82 137.851 115.19C138.223 114.56 138.649 113.956 139.137 113.383V113.385Z" stroke="#9546E8"/>
        </g>
        </g>
      </svg>    
    </div>
    <main id="myDiv" class="bg-white hidden overflow-x-hidden">
      <nav class="flex bg-grey-100 justify-between items-center py-1 px-4 md:px-10 md:pt-8 lg:px-20 font-inter z-40  fixed w-full overflow-hidden " id="nav">
        <div class="lg:flex items-center gap-[72px]">
            <a href="/"><img src="/images/logo.svg" alt="Temitope svg"></a>
            <ul class=" hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal">
              <a href="/about">
                <li>About</li>
              </a>
              <a href="/books">
                <li>Book</li>
              </a>
              <a href="https://www.etsy.com/uk/shop/RIOSINFLUENCIA?ref=hpsh" target="_blank">
                <li>Shop</li>
              </a>
              <a href="/aim">
                <li>AIM</li>
              </a>
              <a href="/blog">
                <li>BLOG</li>
              </a>
            </ul>
        </div>
        <img src="/images/hamburger.png" alt="" class="lg:hidden">
        <div class="hidden lg:flex" >
            <button class="text-lg md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
                Join Community
            </button>
        </div>
      </nav>
      <section class=" bg-grey-100 px-5 pt-24 pb-11 lg:pt-44 lg:py-[clamp(85px,15.62vh,174px)] lg:pl-[clamp(85px,8.125vw,117px)] font-satoshi flex relative">
        <div>
          <h1 class="text-3xl md:text-5xl lg:text-[clamp(85px,8vw,120px)] leading-none font-extrabold">
            EMPOWERING <br> CAREERS, <br> ENRICHING SOULS.
          </h1>
          <p class="mt-6 lg:mt-[clamp(20px,5.54vh,48px)] lg:text-3xl font-normal md:w-[80%] lg:w-[75%] text-balance">
            Experience the power of faith-driven success, empowering individuals to excel in their careers while nurturing their souls.
          </p>
        </div>
        <div class="absolute w-24 top-16 md:w-36 lg:w-[163px] lg:top-[150px] right-10 ">
          <img src="/images/home.gif" alt="" class="w-full">
        </div>
      </section>
      <section class="bg-purple bg-bio bg-no-repeat flex justify-end relative font-satoshi">
        <img src="/images/mainDp.png" alt="" class="lg:w-[68.68vw]">
        <div class="absolute bottom-0 md:bottom-28 lg:bottom-6 md:left-12 bg-white rounded-xl p-3 md:p-5 lg:rounded-3xl flex flex-col items-start text-grey-200 w-[90%] max-w-[clamp(650px,62vw,897px)]">
          <h4>
            Who am I?
          </h4>
          <h1 class="lg:text-[clamp(45px,4vw,64px)] font-bold text-black-200">
            Temitope Odetunde
          </h1>
          <p class="text-xs lg:text-[clamp(16px,1.38vw,20px)] lg:leading-7 text-pretty">
            Your guide to navigating the intersection of professional success and spiritual fulfillment. As a leading voice in pharmacy consultancy and faith-based personal development, Temitope blends her extensive expertise in the pharmaceutical industry with a deep-rooted commitment to Christian values. With Temitope, you'll discover a path to excellence in your career while staying true to your faith, driven by a passion for empowering individuals to achieve greatness in all aspects of their lives.
          </p>
          <a href="/about" class="bg-black-200 border mt-3 border-black-200 text-white hover:bg-white hover:text-black-200 transition-all duration-700 py-2 px-3 md:py-4 md:px-5 rounded text-xs md:text-lg">
            Read More
          </a>
        </div>
      </section>
      <section class="bg-[#000] px-5 md:px-14 lg:px-28 py-12 md:py-24 font-satoshi">
        <p class="text-[#E4E7EC] text-xl md:text-[clamp(20px,2.222vw,32px)] md:leading-9 lg:w-[75%]">
          As a mentor in faith-based personal development, I support individuals in aligning their professional goals with their spiritual values. Together, we embark on a journey towards excellence, driven by passion, expertise, and unwavering faith.
        </p>
        <div class="grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-16 mt-12 lg:mt-16 text-[#D0D5DD] text-lg md:text-2xl">
          <p>Pharmacy Consultant and Expert</p>
          <p>Author and Speaker</p>
          <p>Leader in Medication Management Consulting</p>
          <p>Innovator in Regulatory Compliance Solutions</p>
          <p>Faith-Based Personal Development Mentor</p>
          <p>Advocate for Care Home Policies and Procedures</p>
        </div>
  
      </section>
      <section class="bg-[#1D2739] px-5 md:px-14 lg:px-24 py-12 lg:py-28 font-satoshi">
        <div class="flex flex-col gap-5 lg:flex-row lg:items-center lg:justify-between">
          <div class="flex flex-col items-start md:flex-row md:items-center text-white gap-5">
            <img src="/images/medal.png" alt="">
            <h1 class="text-4xl lg:text-7xl font-bold ">Ambassadors <br>
              <span class="font-normal">in the marketplace</span>
            </h1>
          </div>
          <div class="flex items-center  gap-4">
            <a class="text-white bg-purple rounded px-4 py-3 md:py-4 md:px-5 border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700 cursor-pointer"> 
              Visit AIM Page
            </a>
            <a class="text-purple border border-purple rounded px-4 py-3 md:py-4 md:px-5">
              Visit youtube
            </a>
          </div>
        </div>
        <div class="mt-16 lg:mt-[90px] grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-6">
          <% constants.forEach((item,index) => {%>
            <%if(index == 1 || index == 2){%>
              <div class=" lg:col-span-3 bg-[#D0D5DD] rounded-md lg:rounded-3xl p-5 lg:p-14 ">
                <img src="/images/Verified.png" alt="verify icon" class="pb-5">
                <p class="text-xl md:text-2xl lg:text-3xl"><%=item %></p>
              </div>
              <%return%>
            <%}%>
            <div class="bg-biogrey bg-no-repeat lg:col-span-2 bg-[#E4E7EC] rounded-lg lg:rounded-3xl p-5 lg:p-14 " id="veri">
              <img src="/images/Verified.png" alt="verify icon" class="pb-5">
              <p class="text-xl md:text-2xl lg:text-3xl"><%=item %></p>
            </div>
          <%})%>
        </div>
      </section>
  
      <section class="py-20 px-5 lg:py-[clamp(85px,15.62vh,144px)] bg-[#F9F4FF] lg:pl-[clamp(85px,8.125vw,117px)] font-satoshi">
        <h1 class="text-w[#000] text-3xl leading-[50px] font-normal lg:text-[64px] lg:leading-[90px] mb-7 md:mb-14">
          What people say <br> about Temitope
        </h1>
        <div class="swiper">
          <div class="swiper-wrapper">
            <% comments.forEach(commentus => {%>
              <div class="swiper-slide bg-white px-10 py-[61px] rounded-[30px] text-[#475367] cursor-pointer slidey " >
                <h3 class="mb-5 text-lg md:text-2xl font-normal"><%= commentus.comment%></h3>
                <h2 class="font-bold text-lg md:text-2xl" ><%= commentus.name %></h2>
                <p class="text-lg md:text-2xl font-normal"><%= commentus.location%></p>
              </div>
            <%})%>
          </div>
        </div>
      </section>
  
      <section class="bg-white px-5 md:px-14 lg:px-24 py-12 lg:py-28 font-satoshi">
        <div class="flex flex-col gap-5 items-start lg:items-center lg:flex-row lg:gap-[62px] lg:pl-[150px]">
          <h4 class="text-[#4B587C] lg:w-[49%] text-xl md:text-[clamp(20px,2.222vw,32px)]">
            Whether you're seeking professional guidance, personal growth insights, or spiritual enrichment, our library has something for everyone.
          </h4>
          <button class="bg-black-200 border border-black-200 text-white hover:bg-white hover:text-black-200 transition-all duration-700 py-2 px-3 md:py-4 md:px-5 rounded text-xs md:text-lg ">
            Visit Book Store
          </button>
        </div>
        <div>
          <div class="swiper2 mobSwiper lg:hidden mt-10">
            <div class="swiper-wrapper">
              <% bookCovers.forEach(bookcover => {%>
                <div class="swiper-slide">
                  <img src=<%= bookcover.imgSrc %> alt="bookcover">
                </div>
              <%})%>
            </div>
          </div>
          <div class="hidden lg:flex gap-5 mt-28">
            <% bookCovers.forEach(bookcover => {%>
              <div>
                <img class="hover:scale-90 transition-transform duration-700 cursor-pointer" src=<%= bookcover.imgSrc %> alt="bookcover">
              </div>
            <%})%>
          </div>
        </div>
        <div>
          <img src="/images/bookCoverImgs/bottomWood.png" alt="bottom Wood">
        </div>
      </section>
      <section class="bg-[#000] px-5 md:px-14 lg:px-[102px] py-12 lg:py-20 font-satoshi">
        <div class="flex flex-col gap-4 text-white items-start lg:flex-row lg:items-center lg:justify-between">
          <h3 class="text-2xl md:text-3xl lg:text-[40px]">Get educated from my blog</h3>
          <a href="/blog">
            <button class="bg-purple rounded px-4 py-3 md:py-4 md:px-5 border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700 cursor-pointer"> 
              Visit Blog
            </button>
          </a>
        </div>
        <div class="blogswiper mt-10 lg:mt-28 ">
          <div class="swiper-wrapper  ">
            <% blog.forEach(cover => {%>
              <div class="swiper-slide bg-white p-4 rounded-xl ">
                <a class="blogButton" href=<%=cover.url%>>
                  <img class="w-full" src=<%=cover.image%> alt="cover">
                <div>
                  <p class="bg-[#F2E5FF] rounded-md mt-3 md:mt-6 py-1 px-2 w-fit text-purple text-xs md:text-sm font-medium"><%=cover.tag %></p> 
                  <h2 class="mt-2 md:mt-4 text-[clamp(14px,4.205vw,18px)] font-bold md:text-base lg:text-[clamp(18px1.66vw,24px)]"><%=cover.title%></h2>
                  <div class="flex items-center gap-3 lg:gap-5 mt-3">
                    <img src="/images/blogCoverImgs/author.png" alt="author">
                    <p class="text-xs md:text-base">TemiTope Odetunde</p>
                    <p class="text-xs lg:text-base"><%=cover.formattedDate%></p>
                  </div>
                </div>
              </a>
              </div>
            <%})%>
          </div>
        </div>
      </div>
      </section>
      <section class="bg-white px-5 md:px-14 lg:px-[102px] py-12 lg:py-20 font-satoshi">
        <div class="flex flex-col items-center justify-center gap-3">
          <h1 class="text-[#000] text-2xl md:text-3xl lg:text-[40px] font-medium lg:leading-[56px]">Get our merch from Esty</h1>
          <a href="https://www.etsy.com/uk/shop/RIOSINFLUENCIA?ref=hpsh" target="_blank" class="bg-purple text-white rounded px-4 py-3 md:py-4 md:px-5 border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700 cursor-pointer">
            Shop for merch
          </a>
        </div>
        <div class="merchswiper mt-10 lg:mt-28">
          <div class="swiper-wrapper ">
            <% merch.forEach(merchs => {%>
              <div class="swiper-slide bg-[#F9F4FF]  p-4 rounded-xl ">
                <a target="_blank" href=<%=merchs.link%>>
                  <img class="w-full" src=<%= merchs.img %> alt="cover">
                <div class="text-[#181A2A]">
                  <p class="rounded-md mt-3 md:mt-5 text-lg lg:text-xl font-normal"><%=merchs.item %></p> 
                  <h2 class="mt-2 md:mt-3 text-lg font-bold lg:text-2xl"><%=merchs.price %></h2>
                </div>
                </a>
              </div>
            <%})%>
          </div>
        </div>
      </section>
      <section class="bg-[#FFF3E1] px-5 md:px-14 lg:px-24 py-12 lg:py-28 font-satoshi grid grid-cols-1 lg:grid-cols-5 gap-5 mb-14 lg:mb-28">
        <div class="bg-[#FAAF40] bg-bio bg-tope bg-100 bg-no-repeat lg:col-start-1 lg:col-end-4 flex justify-center  max-h-[500px] rounded-xl" >
          <img src="/images/contactDp.png" alt="" class="lg:w-[49.9vw] object-contain" >
        </div>
        <div class="bg-[#000] lg:col-start-4 lg:col-end-6 bg-bio bg-50 md:bg-25 lg:bg-100 bg-bottome rounded-xl bg-no-repeat text-[#E8E8EA] py-10 lg:pt-[76px] px-10 flex flex-col gap-8 lg:gap-12">
          <h2 class="text-2xl lg:text-[32px] font-bold">
            Contact me via
          </h2>
          <p class="flex items-center gap-4">
            <img src="/images/Letter.svg" alt="letter"> hello@temitope.com
          </p>
          <p class="flex items-center gap-4">
            <img src="/images/Phone.svg" alt="Phone"> +234 (81) 47511 481
          </p>
        </div>
      </section>
      <%- include("./layout/footer.ejs")%>
    </main>
    

