<%- include("./layout/header.ejs")%>

<nav class="flex bg-grey-100 justify-between items-center py-1 px-4 md:px-10 md:pt-8 lg:px-20 font-inter  fixed w-full overflow-hidden " id="nav">
    <div class="lg:flex items-center gap-[72px]">
        <a href="/"><img src="/images/logo.svg" alt="Temitope svg"></a>
        <ul class=" hidden lg:flex list-none lg:gap-11 text-base text-black-200 font-normal">
          <a href="/about">
            <li>About</li>
          </a>
          <a href="/books">
            <li>Book</li>
          </a>
          <a href="https://www.etsy.com/uk/shop/RIOSINFLUENCIA?ref=hpsh" target="_blank">
            <li>Shop</li>
          </a>
          <a href="/aim">
            <li>AIM</li>
          </a>
          <a href="/blog">
            <li>BLOG</li>
          </a>
        </ul>
    </div>
    <img src="/images/hamburger.png" alt="" class="lg:hidden">
    <div class="hidden lg:flex" >
        <button class="text-lg md:px-5 md:py-4 rounded font-semibold bg-purple text-white border border-purple hover:bg-grey-100 hover:text-purple transition-all duration-700">
            Join Community
        </button>
    </div>
</nav>

<main class="flex justify-center px-5 pt-24 pb-11 lg:pt-44 font-satoshi">
    <section class="w-full md:w-[85%] lg:max-w-[55.55vw]">
    <div class="flex items-center gap-2 pb-10 md:pb-[52px]">
        <p>
            Blog
        </p>
        <img src="/images/blogArrow.svg" alt="blog arrow">
        <p>
            Story
        </p>
    </div>
    <%if(story){%>
        <div>
            <p class="p-2 bg-[#EBD7FF] w-fit mb-2 md:mb-4 text-purple rounded-md"><%=story.tag%></p>
            <h1 class="text-[clamp(28px,2.5vw,36px)] pb-5 font-bold lg:leading-10">
                <%=story.title%>
            </h1>
            <div class="flex items-center gap-5 pb-5 md:pb-8">
                <div class="flex items-center">
                    <img src="/images/dp.png" alt="display png">
                    <p>Temitope Odetunde</p>
                </div>
                <p><%=story.formattedDate%></p>
            </div>
           <div class="pb-8">
            <img class="lg:w-[55.55vw] rounded-xl " src=<%=story.image %> alt="Story image">
           </div>
            <%-story.content%>
           
        </div>
    <%}else{%>
        <h1>
            Issh, Looks Like This Story isn&apos;t available....
        </h1>
        <h3>How did you get here though</h3>
    <%}%>
    </section>
</main>
<section class="px-8 md:px-14 lg:px-[clamp(90px,7.63vw,110px)] py-10 md:py-14 lg:py-20 font-satoshi">
    <h1 class="lg:text-[clamp(18px,1.666vw,24px)] font-medium text-[#000] pb-5">
        More Stories
    </h1>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 ">
        <% related.forEach(cover => {%>
          <div class=" bg-white p-4 rounded-xl border border-[#E8E8EA] transition-transform hover:scale-90 duration-1000">
            <a class="blogButton" href=<%=cover.url%>>
              <img class="w-full" src=<%=cover.image%> alt="cover">
            <div>
              <p class="bg-[#F2E5FF] rounded-md mt-3 md:mt-6 py-1 px-2 w-fit text-purple text-xs md:text-sm font-medium"><%=cover.tag %></p> 
              <h2 class="mt-2 md:mt-4 text-lg font-bold lg:text-[clamp(18px1.66vw,24px)]"><%=cover.title %></h2>
              <div class="flex items-center gap-3 lg:gap-5 mt-3">
                <img src="/images/blogCoverImgs/author.png" alt="author">
                <p class="text-xs md:text-base">TemiTope Odetude</p>
                <p class="text-xs lg:text-base"><%=cover.formattedDate%></p>
              </div>
            </div>
            </a>
          </div>
        <%})%>
      </div>
</section>

<%- include("./layout/footer.ejs")%>