<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
</head>
<body>
   <h1>Hello TemiTope</h1>
   <h2>Looks like you have new contact</h2>
   <h4>Here are the details that were provided</h4>
   <div>
       <h5>Full Name: <%=fullName%></h5>
       <h5>Phone Number <%=phoneNumber%></h5>
       <h5>Email: <%=email%></h5>
       <h5>Service:  <%=service%></h5>
       <h5>Message: <%=need%></h5>
   </div>
</body>
</html>