<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client</title>
</head>
<body>
    <h1>
        Thanks for reaching out, I am glad to make your acquintance
    </h1>
    <h3>Here are the details you provided earlier</h3>
    <div>
        <h5>Full Name: <%=fullName%></h5>
        <h5>Phone Number <%=phoneNumber%></h5>
        <h5>Email: <%=email%></h5>
        <h5>Service:  <%=service%></h5>
        <h5>Message: <%=need%></h5>
    </div>
    <h6>Really glad to be of service, i will be reaching out to you ASAP!</h6>
    <h4>Warm Regards</h4>
</body>
</html>